body { background: #c95a9; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 11px; display: flex; }
.block-auth-0 { color: #5464da; font-size: 19px; margin-bottom: 5px; }
.block-payment-1 { color: #939e62; font-size: 12px; margin-bottom: 5px; }
.block-helper-2 { color: #4b14ab; font-size: 19px; margin-bottom: 5px; }
.block-auth-3 { color: #28fd7d; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #757dc1; font-size: 14px; margin-bottom: 5px; }
.block-session-5 { color: #c9d970; font-size: 19px; margin-bottom: 5px; }
.block-payment-6 { color: #dbf83b; font-size: 12px; margin-bottom: 5px; }
.block-product-7 { color: #d07130; font-size: 14px; margin-bottom: 5px; }
.block-product-8 { color: #295c12; font-size: 18px; margin-bottom: 5px; }
.block-validator-9 { color: #7cdb7a; font-size: 17px; margin-bottom: 5px; }
.block-email-10 { color: #1cc272; font-size: 12px; margin-bottom: 5px; }
.block-auth-11 { color: #781dba; font-size: 18px; margin-bottom: 5px; }